<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title lang="en-US">bdroppy.com configuration</title>
        <input-field type="text">
            <name>user</name>
            <label>User Name</label>
        </input-field>
        <input-field type="password">
            <name>password</name>
            <label>Password</label>
        </input-field>
        <input-field type="text">
            <name>userCatalogName</name>
            <label>user Catalog Name</label>
            <placeholder>New Catalog</placeholder>
            <defaultValue>New Catalog</defaultValue>
        </input-field>
        <input-field type="text">
            <name>BearerToken</name>
            <label>Api Token</label>
            <disabled>True</disabled>
        </input-field>

        <component name="slox-check-cred">
            <name>sloxCheckCred</name>
        </component>
    </card>


    <card>
        <title lang="en-US">Corn Task</title>

        <input-field type="bool">
            <name>cornTaskActive</name>
            <label>Run Automatic Sync</label>
            <defaultValue>true</defaultValue>
        </input-field>
        
        <input-field type="single-select">
            <name>cornSyncMethod</name>
            <options>
                <option >
                    <id>fullsync</id>
                    <name>Full Catalogue Sync</name>
                </option>
                <option>
                    <id>newsync</id>
                    <name>Import New Article only</name>
                </option>
                <option>
                    <id>olddelete</id>
                    <name>Delete old Product </name>
                </option>
                <option>
                    <id>productupdate</id>
                    <name>Update Product</name>
                </option>
            </options>
            <label>Type of Sync to Run Automatically</label>
            <defaultValue>fullsync</defaultValue>
        </input-field>

    </card>


    <card>
        <title lang="en-US">Category Mapping</title>

        <component name="sw-entity-single-select">
            <name>ImportToSalesChannel</name>
            <entity>sales_channel</entity>
            <label>Sales Chanel Default EntryPoint</label>
        </component>
        <component name="sw-entity-single-select">
            <name>ImportToCategories</name>
            <entity>category</entity>
            <label>Categories Default EntryPoint</label>
        </component>

        <input-field type="text">
            <name>jsonMapping</name>
            <label>jsonMapping</label>
            <disabled>True</disabled>
        </input-field>

        <component name="slox-category-maping-table">
            <name>sloxMappingTable</name>
        </component>
       
    </card>
    
    <card>
        <title lang="en-US">Debug</title>
        <title lang="de-DE">Debug</title>
        <input-field type="bool">
            <name>DebugPost</name>
            <label>Enable Debuging</label>
            <label lang="de-DE">Enable Debuging</label>
            <helpText>Enable Debuging</helpText>
            <helpText lang="de-DE">Enable Debuging</helpText>
            <disabled>False</disabled>
        </input-field>
        <input-field type="text">
            <name>DebugPostURL</name>
            <label>Debug Post URL</label>
            <placeholder>Please enter URL to send post request to debug.</placeholder>
            <helpText>Please enter URL to send post request to debug.</helpText>
            <defaultValue></defaultValue>
        </input-field>
    </card>


</config>